fastapi[standard]==0.136.1
python-dotenv==1.2.2
pypdf==6.11.0
google-genai
pydantic==2.13.4
uvicorn[standard]==0.34.3
psycopg2-binary==2.9.12
groq
playwright
apscheduler==3.10.4
google-api-python-client==2.115.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
openai
reportlab
qrcode
Pillow
